@model File.Models.FileModel
    <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
        <input type="file" name="uploads" /><br />
        <input type="file" name="uploads" /><br />
        <input type="file" name="uploads" /><br />
        <input type="submit" value="Загрузить" class="form-control btn" /><br />
    </form>